html{
  min-height:100%;/* make sure it is at least as tall as the viewport */
  position:relative;
}

body {
	font-family: arial;
	background-color: #1e2b3cc7;
	background-image: url("img/road-min.jpeg");
	background-position: center;
	background-size: cover;
	font-family: 'Noto Sans JP', sans-serif;
	margin: 0px;
	height: 100vh;
}

.main-container {
	padding-top: 1px;
	background-color: rgba(0,0,0,.6);
	height: 100%;
	overflow: hidden;
}

h1.page-header {
	color: white;
	font-size: 90px;
	font-family: arial;
	text-align: center;
	margin: 50px 10px 10px 10px;
	font-family: 'Noto Sans JP', sans-serif;
}

.daily-quote-box {
	position: relative;
	height: 300px;
	line-height: 45px;
	max-width: 940px;
	color: white;
	margin: 200px auto 30px auto;
	font-size: 35px;
	padding: 75px 30px 30px 30px;
	box-sizing: border-box;
	align-items: center;
	text-align: center;
	display: flex;
	flex-direction: column;
}

#signature {
	font-weight: 100;
	font-size: 24px;
	position: absolute;
	bottom: 40px;
}

/* quote image styling */ 
.main-quote {
	position: absolute;
	width: 100px;
	opacity: .30;
}

.left-quote {
  top: -28px;
  left: -10px;
}

.right-quote {
	bottom: -15px;
	right: -10px;
	transform: rotate(180deg);
}
/*quote image styling end*/

#quote-refresh-button {
	border-radius:30px;
	border: 1px solid #c0c0c0b8;
	display:block;
	cursor:pointer;
	font-weight: 100;
	font-size:30px;
	color: white;
	padding: 1px 20px 5px 20px;
	line-height: 50px;
	text-align: center;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	margin: 0 auto;
	width: 150px;
	font-family: 'Noto Sans JP', sans-serif;
}

#quote-refresh-button:hover {
	background: rgba(0,0,0,.7);
}

#quote-refresh-button:active {
	position:relative;
	top:1px;
}

@media (max-width: 800px) {
	body {
		padding: 0px 0px;
	}

	h1.page-header {
		font-size: 50px;
	}

	.daily-quote-box {
		font-size: 20px;
		line-height: 32px;
	}

	#quote-refresh-button {
		width: 150px;
	}
} 	